@tailwind base;
@tailwind components;
@tailwind utilities;

.linkedcolored {
  font-size: 14px;
  font-weight: 500;
  background: var(
    --gradient_2,
    linear-gradient(109deg, #fbda61 0%, rgba(255, 90, 205, 0.84) 86.08%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linked {
  color: #696969;
  font-size: 14px;
  font-weight: 500;
}
/* .home {
  background-color: #f3da7e;
  width: 50%;
  height: 100%;
} */
